## Packages

In [63]:
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.ticker as mticks
import matplotlib.dates as mdates
import os
import itertools
import statsmodels.tsa.api as tsa
from pmdarima.model_selection import train_test_split
from pmdarima.arima.utils import ndiffs
from statsmodels.tsa.arima.model import ARIMA
from sklearn.metrics import mean_squared_error
import warnings

# Data

In [14]:
loan_data = pd.read_csv('/Users/marcolaureano2/Documents/GitHub/kaggle-loan-prediction/credit_risk_dataset.csv')

In [15]:
loan_data

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,0.59,Y,3
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4
...,...,...,...,...,...,...,...,...,...,...,...,...
32576,57,53000,MORTGAGE,1.0,PERSONAL,C,5800,13.16,0,0.11,N,30
32577,54,120000,MORTGAGE,4.0,PERSONAL,A,17625,7.49,0,0.15,N,19
32578,65,76000,RENT,3.0,HOMEIMPROVEMENT,B,35000,10.99,1,0.46,N,28
32579,56,150000,MORTGAGE,5.0,PERSONAL,B,15000,11.48,0,0.10,N,26
32580,66,42000,RENT,2.0,MEDICAL,B,6475,9.99,0,0.15,N,30

In [11]:
loan_data.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,0.59,Y,3
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4

In [12]:
loan_data.tail()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
32576,57,53000,MORTGAGE,1.0,PERSONAL,C,5800,13.16,0,0.11,N,30
32577,54,120000,MORTGAGE,4.0,PERSONAL,A,17625,7.49,0,0.15,N,19
32578,65,76000,RENT,3.0,HOMEIMPROVEMENT,B,35000,10.99,1,0.46,N,28
32579,56,150000,MORTGAGE,5.0,PERSONAL,B,15000,11.48,0,0.10,N,26
32580,66,42000,RENT,2.0,MEDICAL,B,6475,9.99,0,0.15,N,30

In [13]:
loan_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32581 entries, 0 to 32580
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   person_age                  32581 non-null  int64
 1   person_income               32581 non-null  int64
 2   person_home_ownership       32581 non-null  object
 3   person_emp_length           31686 non-null  float64
 4   loan_intent                 32581 non-null  object
 5   loan_grade                  32581 non-null  object
 6   loan_amnt                   32581 non-null  int64
 7   loan_int_rate               29465 non-null  float64
 8   loan_status                 32581 non-null  int64
 9   loan_percent_income         32581 non-null  float64
 10  cb_person_default_on_file   32581 non-null  object
 11  cb_person_cred_hist_length  32581 non-null  int64
dtypes: float64(3), int64(5), object(4)
memory usage: 3.0+ MB

## Inspect Columns

### person_age

In [21]:
loan_data['person_age'].unique()

array([ 22,  21,  25,  23,  24,  26, 144, 123,  20,  32,  34,  29,  33,
        28,  35,  31,  27,  30,  36,  40,  50,  45,  37,  39,  44,  43,
        41,  46,  38,  47,  42,  48,  49,  58,  65,  51,  53,  66,  61,
        54,  57,  59,  62,  60,  55,  52,  64,  70,  78,  69,  56,  73,
        63,  94,  80,  84,  76,  67])

### person_income

In [59]:
loan_data['person_income'].unique()

array([  59000,    9600,   65500, ...,  720000, 1900000,    4888])

In [61]:
loan_data['person_income'].min()

4000

In [62]:
loan_data['person_income'].max()

6000000

### person_emp_length

In [45]:
loan_data['person_income'].unique()

array([  59000,    9600,   65500, ...,  720000, 1900000,    4888])

### person_home_ownership

In [36]:
loan_data['person_home_ownership'].unique()

array(['RENT', 'OWN', 'MORTGAGE', 'OTHER'], dtype=object)

### loan_intent

In [38]:
loan_data['loan_intent'].unique()

array(['PERSONAL', 'EDUCATION', 'MEDICAL', 'VENTURE', 'HOMEIMPROVEMENT',
       'DEBTCONSOLIDATION'], dtype=object)

### loan_grade

In [42]:
loan_data['loan_grade'].unique()

array(['D', 'B', 'C', 'A', 'E', 'F', 'G'], dtype=object)

### loan_amnt

In [43]:
loan_data['loan_amnt'].unique()

array([35000,  1000,  5500,  2500,  1600,  4500, 30000,  1750, 34800,
       34000,  1500, 33950, 33000,  4575,  1400, 32500,  4000,  2000,
       32000, 31050, 24250,  7800, 20000, 10000, 25000, 18000, 12000,
       29100, 28000,  9600,  3000,  6100,  4200,  4750,  4800,  2700,
       27600,  3250, 27500, 27050, 27000, 26000, 25600, 25475, 21600,
       11900, 25300,  3650,  6000,  2400,  3600,  7500,  4950, 21000,
       16000, 22000,  7750, 24000, 15000, 15500,  9000, 23050,  5375,
        6250,  5000,  2100, 14000,  6200,  9950,  4475,  2600,  8000,
        4600,  3500,  7200,  8800,  3175,  2800, 13000,  1800,  3300,
        3200,  2275,  5600,  3625,  4375, 24750, 24500,  3900, 13750,
       15250, 24150,  2250,  4975,  4900, 23975, 23750, 23600, 23575,
        5400,  3375, 23400, 23000,  1200, 22750, 22500, 22400, 22250,
        7400, 21700,  7000, 21500, 21450, 21250,  9250, 20900, 20500,
       20400, 20375, 20050,  6400,  5650, 16600,  7125,  3550,  1275,
        3800,  1625,  8500,  7575,  5200,  4025,  4400,  3825,  6500,
        5875,  1550,  7350,  6700,  8300, 10625, 19900, 19800,   500,
         700,   750, 19000, 18950, 18800, 18750, 18725, 18550,  7100,
       18500, 18400, 18250,  1300,  5800, 18225, 18200,  1375, 17950,
       17800, 17750, 17700,  3975, 17625, 17600, 17500, 17475, 17400,
       17200, 17000, 16950, 16875, 16800, 16750, 16700, 16525, 16500,
       11500, 16425, 16400, 16300, 16250, 16075, 16050, 11100,  1525,
       10800,  7850, 11325, 14500,  5975,  1075,  1100,  1150,  3025,
        9475,  1325,  2750,  1350,  3725,  1925,  5175,  6300,  8400,
        1450,  9800,  1475, 14125, 12300,  9500,  5225, 12200, 10750,
        1675,  1700,  8875,  5150,  1775,  6075,  1825,  1850,  1875,
        1900,  1950, 11000, 14950, 14900,  7600, 14850, 14800, 13250,
        5125,  2050,  2125,  2150,  3075,  2200,  2225,  2300,  2350,
        6600,  6950,  2425,  2450, 13600, 13500,  9200, 13475, 13450,
       13400, 13350, 13300, 13275, 13225, 13200, 13100, 13050, 12250,
        7550, 11200,  1050, 11225,  8250, 11050,  2850,  2875,  2900,
        2925,  2975, 12500, 10150,  8325,  1250, 12375,  8125,  6425,
        9750, 14400,  5100, 10950,  6800,  9450, 22550,  6900,  8575,
        3050,  3100,  3125,  3150,  7775, 13650,  2950, 12800,   800,
        3325,  3350,  3400,  3450,  5775,  8700, 11625, 11300,  5250,
        7275, 14775,  5300,  6725,  3525,  3575, 15800, 14600,  6350,
       10900, 10875, 12400, 10775, 10700, 10600, 10500, 10450, 10400,
       10375, 10325, 10300, 10250, 10200,  3700,  3750,  3850,  3950,
        5550,  7675,  5700,  5325,  9875,  4350,  4450,  4300, 10850,
        8100,  4550,  4650,  4700,  4725, 13025,  2525, 15450,  6625,
       17050,  7975,  9700,  8200,  4850, 19200, 13975,  8675,  9350,
        9975,  9100,  9900, 14750,  7050,  5750, 15075, 12600, 15600,
       22800,  6650, 13800,  8475, 18900, 14300,  8975,  8950,  8900,
        8850,  8650, 14550,  4150,  9050,  4075, 14650,  8450,  9125,
        4325,  5950,  9925,  7375, 11700,  9225, 10075,  5275, 23500,
        8600,  5425,  5450, 12725, 13850,  5525,  5575,  5625,  5675,
        5825,  5850,  5900,  5925,  2550, 15750, 19500, 10525, 18650,
       13700,  9825,  9175,  7075,  7025, 11400,  8375,  6025,  6150,
       15825,  6225, 15200, 14100,  2650,  6975,  6325,  6375, 19750,
        2625,  6550,  6575,  5025,  6850,  6750,  6775,  6475,  6450,
        6825,  6875,  6925,  8525,  3775, 24200, 11075,  7150,  7175,
        4225,  7875, 21825,  7250,  7300, 19125,  7325,  7475, 17300,
        9575, 12875, 11425, 19725,   900, 17450, 14075, 12275, 31300,
        7525, 15700, 11600, 14825,  7650,  7700,  7900,  7925,  7950,
       13375, 25850, 21200, 23275, 10425, 15850,  6125,  5075,  5050,
       12900,  9525, 29800, 21650,  8050,  8075, 23525,  8150,  8350,
       27250,  2475,  8550,  8625,  8725,  8750,  8775,  7425,  9150,
        9300,  9325,  9375,  9400,  9425,  9550, 29000, 12150, 19600,
       26400, 15900,  4275,  4250, 13950,  7450,  4125,  4100,  4050,
       11875, 18300, 31825, 11125, 16100, 29700,  6675, 15350, 10675,
       10025, 10100, 10125,  3425, 14200, 11250, 17825, 11525, 11550,
       11575, 11650, 11750, 11775, 11800, 11850, 11975, 25975, 14625,
        8825, 27525, 19075, 14700, 18600,  2825,  4925, 21400,  1125,
       20675, 16200, 12475, 18150, 12100, 12125, 13675, 12450,  2775,
        2725,  2675,  4175, 12950, 12700, 12750, 24175, 10925, 13625,
       13900, 25200, 12975, 14350,  3275, 14275, 20600, 23800, 29175,
       21850,  9850, 14525, 14575, 27300, 12075, 17325,  9625, 19950,
        4525, 22600, 19400, 20800, 15125, 12225, 15400, 18325, 15550,
       15625, 15650, 15675, 23450, 10575, 19425, 19550, 19650,  2375,
        2325, 31000, 30750, 29550, 28800, 14725, 22200, 24625, 23850,
       23475, 22950, 22650, 21725, 20200,  2075,  5725, 19975, 19850,
       19775,   725,   950, 18825, 17975, 17900, 17725, 17250, 16775,
       16450, 14975, 13575, 13425, 13150, 13075, 10225,  3925,  5350,
       10725, 10550, 10275,  3675, 12775,  9775,  1425, 14675,  4625,
        4425,  4675, 12650,  4875,  1225, 17350,  9275, 10825, 10175,
       15150,  5475, 17375, 10650,  8275, 15025,  9725,  6525, 15875,
       10475, 27575, 10975, 12625,  8025,  7225, 10050,  4775, 20475,
        7725,  8225, 23200, 16725, 21100, 22100,  7625, 25500, 20150,
       18050, 23700, 19700, 15275, 11175, 11350, 11450, 11475, 19150,
       19450,  9075, 21125, 24800, 24400, 12325, 12350,  2575, 12025,
       14150, 17875, 11025, 14475, 26375, 13125, 27400, 14050, 28250,
       15975, 33250,  6275, 22350, 24100, 15050, 17525, 15175, 23100,
       11275, 13175, 19925, 32400, 30600, 31400, 27175, 24375,  8175,
       23325, 18125,  3225, 26800, 17925, 14250, 12925, 13775, 17850,
       20700, 11375, 15575, 15775, 19275, 29850])

### loan_int_rate

In [47]:
loan_data['loan_int_rate'].unique()

array([16.02, 11.14, 12.87, 15.23, 14.27,  7.14, 12.42, 11.11,  8.9 ,
       14.74, 10.37,  8.63,  7.9 , 18.39, 10.65, 20.25, 18.25, 10.99,
        7.49, 16.77, 17.58,  7.29, 14.54, 12.68, 17.74,  9.32,  9.99,
       12.84, 11.12,  6.62, 14.17, 13.85, 13.49,  7.51, 16.89,   nan,
       17.99, 12.69,  7.88, 19.41, 10.38, 15.33, 16.45, 18.62, 15.96,
       11.48,  5.99, 11.58, 15.7 , 15.99, 14.84, 14.42,  6.99, 13.61,
        9.91, 13.48, 12.98, 13.57, 15.68, 13.06, 15.62, 11.71,  8.88,
       12.18, 13.99,  5.42, 12.73, 11.49, 19.91, 11.83, 14.59,  9.64,
       16.35, 18.67, 10.08, 10.36, 12.23, 16.07, 14.22, 14.79, 13.22,
       11.86, 13.43, 15.28, 17.93,  9.25, 10.62, 18.43, 11.36, 15.65,
       13.04, 17.04, 14.83, 14.65, 16.82, 10.25, 14.96, 11.99,  8.49,
        6.17, 16.32, 14.35, 15.21, 14.09, 17.49, 13.92, 16.49,  5.79,
       13.11,  6.54, 12.53, 15.95, 10.74, 15.27, 14.72, 13.35,  7.68,
       14.46, 13.47,  6.03, 12.92, 18.64, 16.7 , 18.3 ,  9.63, 14.7 ,
       15.37, 14.26,  8.  , 11.26, 19.04, 13.98, 15.58, 15.31,  9.33,
       11.91,  8.38, 10.59, 16.  , 11.54, 12.61, 17.27, 15.05, 10.75,
        6.39, 18.09, 19.74,  6.91, 14.93, 17.14, 11.03,  8.94, 11.46,
        7.66, 17.56, 10.39, 16.29, 17.8 , 19.69, 15.83, 20.03, 20.16,
       13.79, 11.89, 14.5 , 11.34,  9.62,  9.96, 18.99, 14.11, 17.19,
        7.4 , 17.51, 14.61, 21.21, 14.91, 17.26, 10.71, 10.  , 16.95,
       11.97, 12.99, 13.16,  9.76, 11.22, 16.69, 12.21,  7.74, 11.78,
       11.66, 19.79,  9.88, 13.87, 17.39, 12.29, 10.83, 15.2 , 14.82,
       14.88, 13.36,  6.76, 13.23,  9.45, 10.96, 13.72, 12.36, 11.41,
       14.3 , 10.91, 16.63,  6.92, 10.95,  8.7 , 12.67, 12.41, 20.11,
       14.18, 12.8 , 13.24, 12.09, 17.15, 19.47,  7.91, 10.46,  7.37,
       11.28,  8.59, 19.03, 15.57,  8.32, 10.14, 19.29, 11.63, 12.72,
       13.8 ,  7.12, 13.3 , 16.59, 21.27,  8.07,  9.67, 11.72, 12.22,
       13.75,  9.38, 10.2 , 16.4 , 10.33, 12.54, 21.74,  7.43,  9.07,
        6.  ,  9.7 , 10.01,  7.05, 10.28, 20.3 , 13.67,  7.42, 19.42,
       21.36, 12.17,  9.83, 18.79, 14.38,  7.75, 14.75, 10.51, 13.12,
       17.88,  9.2 , 11.59, 17.43, 13.93, 15.76, 18.21, 13.55, 15.13,
        9.01, 16.08, 16.11, 14.12, 12.86, 19.39, 13.17, 15.45, 22.11,
       12.62, 19.13, 12.49, 16.2 , 18.84, 16.33, 19.82, 20.89, 10.78,
       15.88, 19.16, 20.62, 20.2 ,  9.51, 14.67, 12.12, 12.04, 15.07,
       17.06, 13.62, 20.48, 18.53, 17.9 , 11.09, 13.84, 18.78, 15.01,
       18.07, 17.03, 21.14, 17.46, 20.99, 21.64, 18.36, 20.17, 18.17,
       22.06, 17.54, 17.44, 18.49, 20.86, 20.52, 15.25, 18.72, 20.9 ,
       16.96, 15.38, 17.34, 14.62, 14.25, 14.07, 10.64, 22.48, 19.66,
       23.22, 20.4 , 16.71, 18.54, 20.69, 16.15, 20.53])

### loan_status

In [49]:
loan_data['loan_status'].unique()

array([1, 0])

### loan_percent_income

In [50]:
loan_data['loan_percent_income'].unique()

array([0.59, 0.1 , 0.57, 0.53, 0.55, 0.25, 0.45, 0.44, 0.42, 0.16, 0.41,
       0.37, 0.32, 0.3 , 0.06, 0.29, 0.31, 0.22, 0.52, 0.14, 0.49, 0.13,
       0.5 , 0.35, 0.17, 0.27, 0.33, 0.08, 0.03, 0.21, 0.63, 0.47, 0.4 ,
       0.07, 0.38, 0.34, 0.04, 0.23, 0.15, 0.11, 0.43, 0.51, 0.02, 0.28,
       0.26, 0.19, 0.39, 0.09, 0.05, 0.61, 0.18, 0.6 , 0.01, 0.48, 0.12,
       0.54, 0.56, 0.46, 0.36, 0.24, 0.2 , 0.72, 0.64, 0.69, 0.77, 0.83,
       0.65, 0.67, 0.58, 0.71, 0.68, 0.7 , 0.66, 0.  , 0.76, 0.62, 0.78])

### cb_person_default_on_file

In [52]:
loan_data['cb_person_default_on_file'].unique()

array(['Y', 'N'], dtype=object)

### cb_person_cred_hist_length

In [53]:
loan_data['cb_person_cred_hist_length'].unique()

array([ 3,  2,  4,  8,  7,  6,  9, 10,  5, 11, 16, 15, 12, 13, 17, 14, 25,
       28, 27, 22, 19, 29, 23, 26, 20, 21, 30, 24, 18])

## EDA

In [67]:
loan_data.groupby(['loan_status']).count()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
loan_status,,,,,,,,,,,
0,25473,25473,25473,24860,25473,25473,25473,23001,25473,25473,25473
1,7108,7108,7108,6826,7108,7108,7108,6464,7108,7108,7108

In [80]:
status_1 = loan_data.loc[loan_data['loan_status'] > 0]
status_1

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,0.59,Y,3
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4
5,21,9900,OWN,2.0,VENTURE,A,2500,7.14,1,0.25,N,2
...,...,...,...,...,...,...,...,...,...,...,...,...
32563,52,71520,RENT,0.0,EDUCATION,E,7000,16.82,1,0.10,Y,24
32565,57,40000,RENT,1.0,MEDICAL,A,15000,8.90,1,0.38,N,21
32571,60,45600,RENT,1.0,VENTURE,B,20000,10.00,1,0.44,N,26
32574,52,65004,RENT,4.0,PERSONAL,D,20000,15.58,1,0.31,Y,19
32578,65,76000,RENT,3.0,HOMEIMPROVEMENT,B,35000,10.99,1,0.46,N,28

In [81]:
status_0 = loan_data.loc[loan_data['loan_status'] < 1]
status_0

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
14,23,115000,RENT,2.0,EDUCATION,A,35000,7.90,0,0.30,N,4
15,23,500000,MORTGAGE,7.0,DEBTCONSOLIDATION,B,30000,10.65,0,0.06,N,3
16,23,120000,RENT,0.0,EDUCATION,A,35000,7.90,0,0.29,N,4
20,25,162500,RENT,2.0,VENTURE,A,35000,7.49,0,0.22,N,4
...,...,...,...,...,...,...,...,...,...,...,...,...
32575,52,64500,RENT,0.0,EDUCATION,B,5000,11.26,0,0.08,N,20
32576,57,53000,MORTGAGE,1.0,PERSONAL,C,5800,13.16,0,0.11,N,30
32577,54,120000,MORTGAGE,4.0,PERSONAL,A,17625,7.49,0,0.15,N,19
32579,56,150000,MORTGAGE,5.0,PERSONAL,B,15000,11.48,0,0.10,N,26
32580,66,42000,RENT,2.0,MEDICAL,B,6475,9.99,0,0.15,N,30

In [85]:
status_1['loan_grade']

0        D
2        C
3        C
4        C
5        A
        ..
32563    E
32565    A
32571    B
32574    D
32578    B
Name: loan_grade, Length: 7108, dtype: object

In [84]:
status_0['loan_grade']

1        B
14       A
15       B
16       A
20       A
        ..
32575    B
32576    C
32577    A
32579    B
32580    B
Name: loan_grade, Length: 25473, dtype: object